body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(231, 235, 239);
    font-family: Arial, sans-serif;
}

.calculadora {
    background-color: white;
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* utilizei o grid para garantir que a calculadora tenha 4 colunas */
    grid-gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#display {
    grid-column: 1 / -1;
    /* Aqui se utiliza o grid para o visor ocupar todas as colunas */
    background-color: #04333b;
    color: white;
    font-size: 32px;
    padding: 10px;
    border-radius: 8px;
    text-align: right;
    border: none;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #e0e0e0;
    color: black;
}

button.operador {
    background-color: #ff5a1f;
    color: white;
}

button#tiflux {
    background-color: #e0e0e0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#tiflux img {
    width: 30px;
    height: 20px; /*a imagem da logo da tiflux eu peguei e tirei o fundo mas ela ficou mais comprida horizontalmente então coloquei width maior que height*/
}

.zero {
    grid-column: 1 / 3;
    /*aqui garantimos que o botão zero ocupe duas colunas*/
}